@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsExtraBold";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  @apply bg-[#fbfdffb5];
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
